venv3/*
*.html
.vscode/*
**/.DS_Store
**/__pycache__
*.torch
**/.ipynb_checkpoints/*
**/output*.txt
**/*.csv
**/outputs/*
**/runs*/*
**/*.jpg
**/*.png
**/*.gif
**/*.mp4

**/images.*
**/celeba
**/family-512
**/1star-2008*

makemore_xformers/all_python*.txt

