venv3/*
*.html
.vscode/*
**/.DS_Store
**/__pycache__
*.torch
**/.ipynb_checkpoints/*
**/output*.txt
**/*.csv
**/outputs/*
**/runs*/*
**/*.jpg
**/*.png
imagegen/alex-diffuser-128
imagegen/alex-resize-128
imagegen/alex-outpaint-128
imagegen/alex-many-128
imagegen/celeba
imagegen/family-512

