/* .network {
    display: grid;
} */

.inputs {
    background-color: #eeeeff;
    color: blue;
    border: 1px solid black;
    border-radius: 2px;
    width: max-content;
    text-align: right;
    float: left;
}
.input-row .item {
    display: block;
}

.layer {
    border: 1px solid black;
    border-radius: 2px;
    width: max-content;
    float: left;
    margin-left: 10px;
}

.neuron {
    border: 1px solid black;
    border-radius: 2px;
    width: max-content;
    margin-bottom: 10px;
    display: grid;
    margin: 2px;
}

.neuron span {
    margin: 1px;
    grid-row-start: 1; 
    grid-row-end: 3;
    color: green;
    vertical-align: middle;
}

.neuron .weights {
    text-align: right;
    grid-row: 1;
    grid-column: 1;
}

.neuron .weights .item {
    display: block;
    color: black;
}

.neuron .res-weights {
    grid-row: 1;
    grid-column: 2;
}
.neuron .res-weights .item {
    color: green;
    display: block;
}

.neuron .deriv-weights {
    grid-row: 1;
    grid-column: 3;
}
.neuron .deriv-weights .item {
    color: red;
    display: block;
}

.neuron .bias {
    grid-row: 2;
    grid-column: 4;
}
.neuron .bias .item {
    color: black;
}

.neuron .res-sum {
    grid-row: 3;
    grid-column: 4;
    color: green;
}

.neuron .deriv-sum {
    grid-row: 4;
    grid-column: 4;
}
.neuron .deriv-sum .item {
    display: block;
    color: red;
}

.neuron .res-relu {
    grid-row: 3;
    grid-column: 5;
    color: green;
}

.neuron .deriv-relu {
    grid-row: 4;
    grid-column: 5;
}
.neuron .deriv-relu .item {
    display: block;
    color: red;
}
